:host {
  display: block;
  margin-bottom: 1em;
}

a,
a:hover,
a:focus,
a:visited {
  color: inherit;
}

.card-count {
  display: none;
}

.hide-repos {
  .mat-mdc-card {
    display: none;
  }

  .card-count {
    display: inline-block;
  }
}

.count {
  display: inline-flex;
  margin-left: 0.5em;
  align-items: center;
  gap: 0.3em;
}
